
<style>

.estilo-depoimento {
  border-radius: 50%;
  width: 20vw;
  max-width: 100px;
}

</style>


<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<div class="container">
  <h3 style="color: gray;">O que estão falando do Salão de Beleza Delivery</h3>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep2.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Pessoa 1</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sequi amet, sapiente maiores corrupti hic quis veniam molestiae, fugit dicta nisi magni nobis obcaecati aperiam illo, possimus cumque qui eos.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep5.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Pessoa 2</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil autem tempora, soluta necessitatibus architecto harum laboriosam. Ad assumenda suscipit officiis eum corrupti sit impedit optio, consectetur, dolorum nobis mollitia ipsa..</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep4.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Pessoa 3</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic veniam perferendis tempore iste ex incidunt voluptas, neque repudiandae libero consequuntur fugit culpa suscipit esse vero sint quas excepturi illo, unde.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep1.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Fernando Caetano</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Conteúdo muito bom, as dicas sobre como escrever o currículo usando esperiêcnias acadêmicas e profissionais me ajudaram muito na entrevista.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep3.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Jorge Azevedo</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i></h4>
                            <p class="card-text">Conteúdo muito bom, as dicas sobre como estruturar o currículo me ajudaram muito na entrevista.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep6.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Mario Kaito</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i></h4>
                            <p class="card-text">Excelente iniciativa, sem dúvia informções valiosas principalmente pra quem está começando no mercado profissional.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
