
<style>

.estilo-depoimento {
  border-radius: 50%;
  width: 20vw;
  max-width: 100px;
}

</style>


<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<div class="container">
  <h3 style="color: gray;">O que estão falando da Entrevista Descomplicada</h3>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep2.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Alexandre Borges</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i></h4>
                            <p class="card-text">Sou recém formado e consegui a minha primeira vaga de trabalho em uma multinacional depois de aplicar as técnicas que vocês ensinam.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep5.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Julia Sartore</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Conteúdo muito bom, as dicas sobre como estruturar o currículo me ajudaram muito na entrevista.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep4.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Lucia Ribeiro</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Mesmo já tendo experiência profissional considerável algumas dicas me ajudaram bastante, até mesmo na hora de entrevistar os novos candidatos.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep1.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Fernando Caetano</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Conteúdo muito bom, as dicas sobre como escrever o currículo usando esperiêcnias acadêmicas e profissionais me ajudaram muito na entrevista.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep3.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Jorge Azevedo</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i></h4>
                            <p class="card-text">Conteúdo muito bom, as dicas sobre como estruturar o currículo me ajudaram muito na entrevista.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <%= image_tag "dep6.jpg", class: 'img-responsive center-block fit-image-courses img-size-logo-vaga estilo-depoimento', alt: "Depoimento do aluno" %> <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Mario Kaito</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i></h4>
                            <p class="card-text">Excelente iniciativa, sem dúvia informções valiosas principalmente pra quem está começando no mercado profissional.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
